<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>PDF Uploader</title>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto mt-10">
        <div class="flex justify-center">
            <div class="w-full max-w-xl">
                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Upload a PDF file</h1>
                    <div class="mb-4">
                        <input type="file" id="fileInput" accept=".pdf" multiple
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex items-center justify-between">
                        <button id="uploadBtn"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline relative"
                            onclick="uploadFiles()">
                            Upload
                            <div id="loader"
                                class="absolute inset-0 flex justify-center items-center bg-blue-500 bg-opacity-75 hidden">
                                <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                            </div>
                        </button>
                        <button id="downloadAllBtn"
                            class="hidden bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            onclick="downloadAll()">Download All as ZIP</button>
                    </div>
                </div>
                <div id="response" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <!-- Response will be inserted here -->
                </div>
            </div>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>

</html>